In [1]:
from pi_results import PiResults

In [2]:
pr=PiResults()

In [3]:
#pr.build_species_hash_id_dict()

In [4]:
agg_df=pr.build_aggregate_predictions_by_species(rebuild=1)

In [5]:
agg_df.shape

(580737, 3)

In [6]:
agg_df.iloc[0:10000:200,:]

                                                                    y  yhat_0  \
species                          estimator HUC12        COMID
etheostoma mariae                y_train   030402030205 9125742   1.0     NaN
moxostoma ariommum               y_train   030101020101 8649760   0.0     NaN
etheostoma longimanum            y_train   020802011101 8526555   0.0     NaN
hypentelium roanokense           y_train   030401010902 9245668   0.0     NaN
etheostoma collis                y_train   030101040108 8696091   0.0     NaN
                                           030300020308 8895876   1.0     NaN
                                           030401010501 9245170   0.0     NaN
etheostoma kanawhae              y_train   050500010203 6891882   0.0     NaN
fundulus rathbuni                y_train   030300030107 8869178   1.0     NaN
                                           030501010201 9754562   0.0     NaN
                                           030401010805 9244222   0.0     NaN
                                           030501010104 9755164   0.0     NaN
oncorhynchus clarkii pleuriticus y_train   101800100501 17494033  0.0     NaN
                                           101800020408 15983903  0.0     NaN
                                           101800020406 15984327  0.0     NaN
catostomus discobolus            y_train   140401030608 18316022  0.0     NaN
                                           160101020302 7900347   0.0     NaN
                                           170401010406 23124223  0.0     NaN
rhinichthys osculus              y_train   180201510102 2764306   0.0     NaN
                                           170900020303 23760162  0.0     NaN
                                           140600050803 3897681   1.0     NaN
                                           170900110605 23809580  1.0     NaN
                                           160101020102 7900611   0.0     NaN
                                           101900020702 188341    0.0     NaN
                                           160300020304 10807861  0.0     NaN
catostomus platyrhynchus         y_train   100800090102 12817995  0.0     NaN
                                           100700060304 4270578   0.0     NaN
                                           140401080301 3267406   0.0     NaN
                                           140401040105 18300534  0.0     NaN
                                           100800160504 12770005  1.0     NaN
                                           100800160208 12771715  0.0     NaN
                                           100800160204 12771607  0.0     NaN
                                           100800120208 12794099  0.0     NaN
zzzno fish                       y_train   060101020202 19751979  0.0     NaN
                                           041402011006 21983591  0.0     NaN
                                           160300060204 14599549  0.0     NaN
                                           070700060304 13624303  0.0     NaN
                                           101800110404 17482639  0.0     NaN
                                           041402020104 22022882  0.0     NaN
                                           020700020507 14363018  0.0     NaN
                                           020700020601 14362604  0.0     NaN
                                           070700060202 13624313  0.0     NaN
oncorhynchus clarkii             y_train   170800010402 23735817  0.0     NaN
                                           100800120302 12795005  1.0     NaN
                                           160503030104 10736861  0.0     NaN
                                           100800100309 12804398  0.0     NaN
                                           101900080101 2913536   0.0     NaN
                                           170800010301 23737725  1.0     NaN
                                           140100010402 1238033   0.0     NaN
                                           100800100501 12803318  0.0     NaN

                                                                  yhat_1
species                          estimator HUC12        COMID
etheostoma mariae                y_train   030402030205 9125742      NaN
moxostoma ariommum               y_train   030101020101 8649760      NaN
etheostoma longimanum            y_train   020802011101 8526555      NaN
hypentelium roanokense           y_train   030401010902 9245668      NaN
etheostoma collis                y_train   030101040108 8696091      NaN
                                           030300020308 8895876      NaN
                                           030401010501 9245170      NaN
etheostoma kanawhae              y_train   050500010203 6891882      NaN
fundulus rathbuni                y_train   030300030107 8869178      NaN
                                           030501010201 9754562      NaN
                                           030401010805 9244222      NaN
                                           030501010104 9755164      NaN
oncorhynchus clarkii pleuriticus y_train   101800100501 17494033     NaN
                                           101800020408 15983903     NaN
                                           101800020406 15984327     NaN
catostomus discobolus            y_train   140401030608 18316022     NaN
                                           160101020302 7900347      NaN
                                           170401010406 23124223     NaN
rhinichthys osculus              y_train   180201510102 2764306      NaN
                                           170900020303 23760162     NaN
                                           140600050803 3897681      NaN
                                           170900110605 23809580     NaN
                                           160101020102 7900611      NaN
                                           101900020702 188341       NaN
                                           160300020304 10807861     NaN
catostomus platyrhynchus         y_train   100800090102 12817995     NaN
                                           100700060304 4270578      NaN
                                           140401080301 3267406      NaN
                                           140401040105 18300534     NaN
                                           100800160504 12770005     NaN
                                           100800160208 12771715     NaN
                                           100800160204 12771607     NaN
                                           100800120208 12794099     NaN
zzzno fish                       y_train   060101020202 19751979     NaN
                                           041402011006 21983591     NaN
                                           160300060204 14599549     NaN
                                           070700060304 13624303     NaN
                                           101800110404 17482639     NaN
                                           041402020104 22022882     NaN
                                           020700020507 14363018     NaN
                                           020700020601 14362604     NaN
                                           070700060202 13624313     NaN
oncorhynchus clarkii             y_train   170800010402 23735817     NaN
                                           100800120302 12795005     NaN
                                           160503030104 10736861     NaN
                                           100800100309 12804398     NaN
                                           101900080101 2913536      NaN
                                           170800010301 23737725     NaN
                                           140100010402 1238033      NaN
                                           100800100501 12803318     NaN

In [7]:
agg_df.query('HUC12=="030101020101"')

                                                            y  yhat_0  yhat_1
species                estimator    HUC12        COMID
moxostoma ariommum     y_train      030101020101 8649760  0.0     NaN     NaN
                                                 8649954  0.0     NaN     NaN
hypentelium roanokense y_train      030101020101 8649760  0.0     NaN     NaN
                                                 8649954  1.0     NaN     NaN
etheostoma collis      y_train      030101020101 8649760  0.0     NaN     NaN
                                                 8649954  0.0     NaN     NaN
fundulus rathbuni      y_train      030101020101 8649954  0.0     NaN     NaN
                                                 8649760  0.0     NaN     NaN
lepomis microlophus    y_train      030101020101 8649760  0.0     NaN     NaN
                                                 8649954  0.0     NaN     NaN
ameiurus melas         y_train      030101020101 8649760  0.0     NaN     NaN
                                                 8649954  0.0     NaN     NaN
lepomis cyanellus      y_train      030101020101 8649954  0.0     NaN     NaN
                                                 8649760  0.0     NaN     NaN
pylodictis olivaris    y_train      030101020101 8649954  1.0     NaN     NaN
                                                 8649760  0.0     NaN     NaN
micropterus salmoides  y_train      030101020101 8649760  0.0     NaN     NaN
                                                 8649954  0.0     NaN     NaN
micropterus dolomieu   y_train      030101020101 8649954  1.0     NaN     NaN
                                                 8649760  0.0     NaN     NaN
lepomis macrochirus    y_train      030101020101 8649760  0.0     NaN     NaN
                                                 8649954  1.0     NaN     NaN
moxostoma ariommum     logistic-reg 030101020101 8649954  NaN     0.0     0.0
                                                 8649760  NaN     0.0     0.0
                       linear-svc   030101020101 8649954  NaN     0.0     0.0
                                                 8649760  NaN     0.0     0.0
hypentelium roanokense logistic-reg 030101020101 8649954  NaN     0.0     1.0
                                                 8649760  NaN     1.0     1.0
                       linear-svc   030101020101 8649954  NaN     0.0     1.0
                                                 8649760  NaN     1.0     0.0
etheostoma collis      logistic-reg 030101020101 8649954  NaN     0.0     0.0
                                                 8649760  NaN     0.0     0.0
                       linear-svc   030101020101 8649954  NaN     0.0     0.0
                                                 8649760  NaN     0.0     0.0
fundulus rathbuni      logistic-reg 030101020101 8649954  NaN     0.0     0.0
                                                 8649760  NaN     0.0     0.0
lepomis microlophus    logistic-reg 030101020101 8649954  NaN     0.0     0.0
                                                 8649760  NaN     0.0     0.0
                       linear-svc   030101020101 8649954  NaN     0.0     0.0
                                                 8649760  NaN     0.0     0.0
ameiurus melas         logistic-reg 030101020101 8649954  NaN     0.0     0.0
                                                 8649760  NaN     0.0     0.0
                       linear-svc   030101020101 8649954  NaN     0.0     0.0
                                                 8649760  NaN     0.0     0.0
lepomis cyanellus      logistic-reg 030101020101 8649760  NaN     0.0     0.0
                                                 8649954  NaN     0.0     1.0
                       linear-svc   030101020101 8649760  NaN     1.0     0.0
                                                 8649954  NaN     0.0     0.0
pylodictis olivaris    logistic-reg 030101020101 8649954  NaN     1.0     1.0
                                                 8649760  NaN     0.0     0.0
                       linear-svc   030101020101 8649760  NaN     0.0     0.0
                                                 8649954  NaN     0.0     1.0
micropterus salmoides  logistic-reg 030101020101 8649760  NaN     0.0     0.0
                                                 8649954  NaN     1.0     1.0